.layout {
    width: 850px;
    height: 500px;
    background-color: lightgray;
    position: absolute;
    margin-left: 65px;
    margin-top: 47px;
    
}

.left {
    width: 327px;
    height: 210px;
    border: 1px solid lightgray;
    position: absolute;
    margin-left: 400;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif;
    text-align: center;
    background-color: white;
}

.right {
    width: 511px;
    height: 300px;
    border: 1px solid lightgray;
    position: absolute;
    margin-left: 340px;
    margin-top: 0px;
    background-color: white;
}

.bordertop {
    width: 327px;
    height: 30px;
    border-bottom: 1px solid lightgray;
}

#borderbottom {
    width: 327px;
    height: 12px;
    border-bottom: 1px solid lightgray;
}

p {
    color: #385898;
}

#smbox {
    width: 50px;
    height: 50px;
    background-color: #4267B2;
    position: absolute;
    margin-left: 15px;
    margin-top: 3px;
}

#bgbox {
width: 505px;
height: 155px;
background-color:#4267B2; 
border: 1px solid lightgray;
position: absolute;
margin-top: 85px;
margin-left: 2px;
}

#para {
position: absolute;
margin-left: 70px;
color: #4267B2; ;
}

#line {
    position: absolute;
    margin-top: 245px;
    margin-left: 30px;

}


